@import "../styles/colors.scss";

.header-container {
  height: 3.2em;
  background-color: $black;
  padding-top: 0.625em;
}

.header-container .content-wrapper {
  flex-direction: row;
}

header .logo-image {
  width: 40px;
  height: 40px;
}

h1.logo-text {
  font-size: 1.4em;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0px none;
  position: relative;
  left: 0.75em;
  top: 0.4em;
  color: $white;
  font-family: "Eleuther", "Inter", sans-serif;
}

h1.logo-text a {
  text-decoration: none;
  color: $white;
}

h1.logo {
  margin-top: 0.3em;
  font-size: 1.66em;
  font-weight: 700;
}
