@import "../styles/colors.scss";

.prompt-input {
  display: flex;
  flex: 1;
  text-align: center;
}


.prompt-input textarea {
  width: 100%;
  height: inherit;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
  border: 1px solid $grey2;
  border-radius: 8px;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  line-height: 24px;
  padding: 1em;
  box-sizing: border-box;
}

.dark .prompt-input textarea {
  background-color: $dark-theme-bg2;
  color: $white;

  &:focus {
    border: 1px solid $dark-theme-blue;
  }
}
