@import "styles/colors.scss";

.full-width {
  flex-grow: 1;
}

body {
  font-size: 16px;
  color: $black;
}

.App {
  background-color: $white;
  color: $black;
  height: 100%;
}

.App.dark {
  background-color: $dark-theme-bg;
  color: $dark-theme-text;
}

.background-container {
  background-color: $white;
}

.dark .background-container {
  background-color: $dark-theme-bg;
}

.content-wrapper {
  margin: 0 auto;
  padding: 0 0.5em;
  max-width: 45em;
}

.row {
  display: flex;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.main-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 60em;
  padding-top: 0;
  padding-bottom: 1em;
}

.playground-header-section {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.playground-header-section .internal-bar {
  flex: 1;
}

.playground-body-section {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 0 0.5em;
}

.playground-body-section .playground-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.2em;
  min-height: 500px;
}

.playground-body-section .playground-body-wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.playground-body-section .playground-body-left-pane {
  min-width: 10em;
  margin-right: 1em;;
}

.playground-body-section .playground-body-right-pane {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.tooltip-text {
  font-size: 1.2em;
  line-height: 20px;
}

.link {
  color: $blue;
  text-decoration: underline;
  font-size: 1em;
}

.dark .link {
  color: $dark-theme-blue;
}

.link:hover {
  color: $grey;
}

.form-container {
  margin: 2em 0 1.5em 0;
}

.run-model-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1em;
}


.button-primary {
  background-color: $black;
  color: $white;
  padding: 0.4em 1em;
  font-size: 1.1em;
  border: 1px solid $black;
  border-radius: 4px;
  cursor: pointer;
}

.run-btn {
  max-width: 100px;
}

.dark .button-primary {
  color: $dark-theme-blue;
  border: 1px solid $dark-theme-blue;
}


.button-primary:disabled {
  cursor: default;
  opacity: 0.5;
}

.button-icon {
  position: relative;
  left: 0.4em;
  top: 0.1em;
}

.run-model-container .footer-container {
  margin-top: 2em;
  background-color: $grey;
  padding: 0.75em 0;
}

.partner-promo-text {
  margin-top: 0.6em;
  font-size: 0.6em;
}

.partner-promo-text a {
  text-decoration: underline;
  color: $blue;
}

.dark .partner-promo-text a {
  color: $dark-theme-blue;
}

.error-text {
  text-align: left;
  color: red;
  margin: 1em 0;
}

/* ------ RESPONSIVE STYLES ------ */

/* Phone */
@media (max-width: 450px) {
  .preset-section {
    max-width: 80%;
  }
}

/* Laptop */
@media (min-width: 960px) {
  .content-wrapper {
    max-width: 60em;
  }
}

/* Desktop */

@media (min-width: 1140px) {
  .content-wrapper {
    max-width: 90em;
  }

  .prompt-input textarea {
    width: 90%;
  }
}

/* Desktop */

@media (min-width: 1600px) {
  .content-wrapper {
    max-width: 95em;
  }

  .prompt-input textarea {
    width: 80%;
  }
}

